/* global styles */

/* light-mode */
:root{
  --background: #fff;
  --bar-color:rgb(248, 249, 250);
  --text-active: #000;
  --text-inactive: #626365;
  --accent: #000;
  --non-accent: #626365;
  

}

/* dark-mode */
[data-theme = "dark"]{
  --background: #191919;
  --bar-color:#26223E;
  --text-active: #fff;
  --text-inactive: #FAF9F6;
  --accent: #26ca28;
  --non-accent: #fff;
 
}

@import url("https://fonts.googleapis.com/css?family=Outfit");

body {
  margin: 0;
  font-family: 'Outfit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .container {
    margin: auto;
    max-width: 1440px;
  }

  @media screen and (max-width: 640px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (max-width: 1020px) {
    .container {
      max-width: 1000px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (min-width: 1020px) {
    .container {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
}