/* global styles */

/* light-mode */
:root{
  --background: #fffff;
  --text-primary: #000;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border:#333;
  --form-bag: #fff;

}

/* dark-mode */
[data-theme = "dark"]{
  --background: #000;
  --text-primary:#fff;
  --text-secondary: #8e05c2;
  --accent:#8e05c2;
  --border: #808080;
  --form-bg:#191919;
}

@import url("https://fonts.googleapis.com/css?family=Outfit");

body {
  margin: 0;
  font-family: 'Outfit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}