/* global styles */

/* light-mode */
:root{
  --background: #fff;
  --bar-color:rgb(248, 249, 250);
  --text-active: #000;
  --text-inactive: #626365;
  --accent: #8e05c2;
  --border:#333;
  --form-bag: #fff;

}

/* dark-mode */
[data-theme = "dark"]{
  --background: #0000;
  --bar-color:#26223E;
  --text-active: #fff;
  --text-inactive: #FAF9F6;
  --accent:#8e05c2;
  --border: #808080;
  --form-bg:#191919;
}

@import url("https://fonts.googleapis.com/css?family=Outfit");

body {
  margin: 0;
  font-family: 'Outfit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}